# Dependencies
node_modules/

# Build output
dist/
build/

# Env / secrets
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
